@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
	--color-red: hsl(14, 86%, 42%);
	--color-green: hsl(159, 69%, 38%);
	--color-white: hsl(0 0% 100%);
	--color-rose-50: hsl(20, 50%, 98%);
	--color-rose-100: hsl(13, 31%, 94%);
	--color-rose-300: hsl(13, 31%, 94%);
	--color-rose-400: hsl(7, 20%, 60%);
	--color-rose-500: hsl(12, 20%, 44%);
	--color-rose-900: hsl(14, 65%, 9%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Red Hat Text", sans-serif;
}

img {
	width: 100%;
}

body {
	background-color: var(--color-rose-50);
}

.desserts__wrapper {
	padding: 1.5rem;
}

.desserts__head {
	color: var(--color-rose-900);
	font-size: 2.5rem;
}

.desserts__list {
	padding: 1rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1.5rem;
}

.dessert {
	position: relative;
}

.dessert__image {
	position: relative;
	width: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
	border-radius: 10px;
}

.dessert__btn {
	/* position: absolute;
	top: 68%;
	left: 50%;
	transform: translate(-50%); */
	display: flex;
	align-items: center;
	max-width: 200px;
	gap: 0.5rem;
	padding: 0.75rem 2rem;
	background-color: white;
	border: 1px solid var(--color-rose-500);
	border-radius: 25px;
	cursor: pointer;
}

.dessert__btn img {
	width: 1.5rem;
}

.dessert__category {
	color: var(--color-rose-500);
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

.dessert__name {
	color: var(--color-rose-900);
	font-size: 1.2rem;
	font-weight: 600;
}

.dessert__price {
	color: var(--color-red);
	font-weight: 600;
}

aside {
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.empty-img {
	max-width: 250px;
}

@media (min-width: 768px) {
	.wrapper {
		display: grid;
		grid-template-columns: 70% 30%;
		place-content: center;
	}
}

@media (min-width: 1024px) {
}
